// Colors

$color-brand-blue: #083D8C;
$color-duke-blue: #216DDF;
$color-alt-bg: #F6F6F6;
$color-border-grey: #D8D8D8;
$color-font-primary: #3F3F3F;
$color-cloudy-grey: #BEBEBE;
$color-miami-aqua: #02C7C6;

// Fonts

$font-secondary: 'Open Sans - Bold';