.bottomheader {

    &__list {
        padding-top: 15px;
        font-family: 'Nexa';
        margin-bottom: 0px;
        color: $color-brand-blue;
    }
}

.fa-map-marker {
    padding-right: 5px;
}