.section--banner {
    height: 110px;
    background-image: url('/../../src/assets/img/water-image.jpg');
    background-size: cover;
}

.section--filter {
    background: $color-alt-bg;
    padding-top: 17px;
}